p {
    font-family: 'Lucida Handwriting', 'Lucida Sans', cursive;
  }

.navbar-logo {
    height: 50px; /* Adjust this value to your preferred size */
    width: auto;
}

a {
    color:white;
    text-decoration: none;
}